*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:black;
    color: white;  
    padding-top: 120px;
}

h1{
    color: rgb(168,80,50);
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 5%;
    text-shadow: 0 5px 30px rgb(168,80,50);
}

#about{
    text-align:center;
    font-size: larger;
    font-weight: 800;
    margin: 5%;
}

.edu{
    min-height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    text-shadow: none;
}

p{
    text-align: center;
    font-weight: 600;
    margin: 23px;
}

button{
    background-color: rgb(160, 26, 26);
    color: rgb(168,80,50);    
}

h2{
    color: rgb(168,80,50);
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 20%;
    text-shadow: 0 4px 50px rgb(168,80,50);
}

a{
    text-decoration: none;
    text-align:center;
    font-size: 1.2rem;
    margin: 25px;
    color:rgb(211, 74, 29) ;     
}

.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(233, 69, 14);
    border-radius: 20px;
    height: 50px;
    align-items: center;
    display: flex;
    gap: 20px;
    box-shadow: 0 5px 20px rgb(168,80,50);
}

div{
    text-align: center;
}

.img-container{
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profilepic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10%;
    border: 3px solid rgb(168,80,50);
}

.project{
    border: 2px solid rgb(168,80,50);
    color: white;
    border-radius: 0.9em;
    width: 100px;
    height: 30px;
    background-color: black;
}

.Resume{
    border: 2px solid rgb(168,80,50);
    color: white;
    border-radius: 0.9em;
    width: 100px;
    height: 30px;
    background-color: black;
}

.project:hover{
    background-color: rgb(121, 50, 27);
}

.Resume:hover{
    background-color: rgb(121, 50, 27);
}

.sem{
  border: 2px solid rgb(168,80,50);
  color: white;
  border-radius: 0.9em;
  padding: 8px 14px;
  background-color: rgb(138, 51, 51);
  display: inline-block;   
  cursor: pointer;
  border: none;
  margin: 5px; 
}

.btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.contain{
    background-color: rgb(36, 33, 33);
    border: 2px solid rgb(233, 69, 14);
    border-radius: 2em;
    width: 600px;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    box-shadow: o 20px 30px 40px rgb(211, 74, 29);
 } 

ul{
    list-style-position: inside;
    padding-left: 30px;
    text-align: start;
}

#semester{
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: none;
}

#semestet-c{
    margin-bottom: 30px;
}

.semes{
    display: none;
}

#me{
    margin-top: 20%;
    font-size: xx-large;
}

#projects{
    margin-top: 500px;
}


